<div class ="row mt-3">
  <h2><i class="fab">WELCOME TO KAAJ.COM </i></h2>
</div>

<div class ="row mt-3">
<% for(var i=0; i < jobList.length; i++ ){ %>
<td> <%= jobList[i].name %></td>
<br>
<% } %>

 
</div>
//Hello

 
